@page "/"
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ViewIt</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <nav class="flex-div">
        <div class="nav-left flex-div">
            <img src="/css/ViewItImages/menu.png" class="menu-icon">
            <img src="/css/ViewItImages/Main (2).png" class="Logo">
        </div>

        <div class="nav-middle flex-div">
            <div class="Search-Box flex-div">
                <input type="text" placeholder="Search">
                <img src="/css/ViewItImages/search.png">
            </div>

            <img src="/css/ViewItImages/voice-search.png" class="Mic-Icon">
        </div>

        <div class="nav-right flex-div">
            <img src="/css/ViewItImages/upload.png">
            <img src="/css/ViewItImages/more.png">
            <img src="/css/ViewItImages/notification.png">
            <img src="/css/ViewItImages/jack.png" class="User-Icon">
        </div>
    </nav>

    <!===================Sidebar==========================================================>

    <div class="sidebar">
        <div class="shortcut-links">
            <a href=""><img src="/css/ViewItImages/home.png"><p>Home</p></a>
            <a href=""><img src="/css/ViewItImages/explore.png"><p>Explore</p></a>
            <a href=""><img src="/css/ViewItImages/subscription.png"><p>Subscriptions</p></a>
            <a href=""><img src="/css/ViewItImages/library.png"><p>Library</p></a>
            <a href=""><img src="/css/ViewItImages/History.png"><p>History</p></a>
            <a href=""><img src="/css/ViewItImages/playlist.png"><p>Playlist</p></a>
            <a href=""><img src="/css/ViewItImages/messages.png"><p>Messages</p></a>
            <a href=""><img src="/css/ViewItImages/show-more.png"><p>Show More</p></a>
            <hr>
        </div>

        <div class="followed-list">
            <h3>FOLLOWED CHANNELS</h3>
            <a href=""><img src="/css/ViewItImages/jack.png"><p>MajPainn</p></a>
            <a href=""><img src="/css/ViewItImages/simon.png"><p>McKnightster</p></a>
            <a href=""><img src="/css/ViewItImages/tom.png"><p>McKnightster Collects</p></a>
            <a href=""><img src="/css/ViewItImages/megan.png"><p>JustUs</p></a>
            <a href=""><img src="/css/ViewItImages/cameron.png"><p>UWishProd</p></a>
        </div>
    </div>

    <!--------------------Main------------------------------>

    <div class="container">
        <div class="banner">
            <img src="/css/ViewItImages/MainBanner2.png">
        </div>


        <div class="list-container">
            <div class="vid-list">
                <a href="playvideo.html"><img src="/css/ViewItImages/thumbnail1.png" class="thumbnail1"></a>
                <div class="flex-div">
                    <img src="ViewItIcons/jack.png">
                    <div class="vid-info">
                        <a href="playvideo.html">BF3 and a Real Life 50 Cal Machine Gun</a>
                        <p>MajPainn</p>
                        <p>Views: 7.5k &bull; Posted: 9 Years Ago</p>
                    </div>
                </div>
            </div>

            <div class="vid-list">
                <a href=""><img src="/css/ViewItImages/thumbnail2.png" class="thumbnail1"></a>
                <div class="flex-div">
                    <img src="ViewItIcons/cameron.png">
                    <div class="vid-info">
                        <a href="">A RANDOM DAY WITH US</a>
                        <p>UWishProd</p>
                        <p>Views: 439 &bull; Posted: 26 Minutes Ago</p>
                    </div>
                </div>
            </div>

            <div class="vid-list">
                <a href=""><img src="/css/ViewItImages/thumbnail3.png" class="thumbnail1"></a>
                <div class="flex-div">
                    <img src="ViewItIcons/simon.png">
                    <div class="vid-info">
                        <a href="">The Most Viewed Video on ViewIt</a>
                        <p>McKnightster</p>
                        <p>Views: 1B &bull; Posted: 1 year ago</p>
                    </div>
                </div>
            </div>

            <div class="vid-list">
                <a href=""><img src="/css/ViewItImages/thumbnail4.png" class="thumbnail1"></a>
                <div class="flex-div">
                    <img src="ViewItIcons/jack.png">
                    <div class="vid-info">
                        <a href="">Joe Exotic Plays Call of Duty</a>
                        <p>MajPainn</p>
                        <p>Views: 1.5M &bull; Posted: 31 days ago</p>
                    </div>
                </div>
            </div>

            <div class="vid-list">
                <a href=""><img src="/css/ViewItImages/thumbnail5.png" class="thumbnail1"></a>
                <div class="flex-div">
                    <img src="ViewItIcons/cameron.png">
                    <div class="vid-info">
                        <a href="">My EVO 9 MR test drive</a>
                        <p>UWishProd</p>
                        <p>Views: 9K &bull; Posted: 7 hours ago</p>
                    </div>
                </div>
            </div>

            <div class="vid-list">
                <a href=""><img src="/css/ViewItImages/thumbnail10.png" class="thumbnail1"></a>
                <div class="flex-div">
                    <img src="ViewItIcons/jack.png">
                    <div class="vid-info">
                        <a href="">How to Plasti-Dip Rims</a>
                        <p>MajPainn</p>
                        <p>Views: 833K &bull; Posted: 9 Years ago</p>
                    </div>
                </div>
            </div>

            <div class="vid-list">
                <a href=""><img src="/css/ViewItImages/thumbnail7.png" class="thumbnail1"></a>
                <div class="flex-div">
                    <img src="ViewItIcons/megan.png">
                    <div class="vid-info">
                        <a href="">FUNKO HAUL!!!</a>
                        <p>JustUs</p>
                        <p>Views: 27k &bull; Posted: 5 days ago</p>
                    </div>
                </div>
            </div>

            <div class="vid-list">
                <a href=""><img src="/css/ViewItImages/thumbnail8.png" class="thumbnail1"></a>
                <div class="flex-div">
                    <img src="ViewItIcons/tom.png">
                    <div class="vid-info">
                        <a href="">I Bought The Worlds Most Expensive Funko Pop</a>
                        <p>McKnightser Collects</p>
                        <p>Views: 827 &bull; Posted: 1 hour ago</p>
                    </div>
                </div>
            </div>

            <div class="vid-list">
                <a href=""><img src="/css/ViewItImages/thumbnail4.png" class="thumbnail1"></a>
                <div class="flex-div">
                    <img src="ViewItIcons/cameron.png">
                    <div class="vid-info">
                        <a href="">Why some people shouldnt ski</a>
                        <p>UWishProd</p>
                        <p>Views: 272k &bull; Posted: 12 days ago</p>
                    </div>
                </div>
            </div>

            <div class="vid-list">
                <a href=""><img src="/css/ViewItImages/thumbnail2.png" class="thumbnail1"></a>
                <div class="flex-div">
                    <img src="ViewItIcons/simon.png">
                    <div class="vid-info">
                        <a href="">I PULLED INTERSTELLAR</a>
                        <p>McKnightster</p>
                        <p>Views: 115k &bull; Posted: 7 days ago</p>
                    </div>
                </div>
            </div>




















        </div>
    </div>



</body>
</html>
